* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-primary: radial-gradient(circle, rgba(46,19,184,1) 8%, rgba(18,4,88,1) 100%);
    --bg-secondary: #7a04eb;
    --ff-pink: #fe75fe;
    --fc-primary: #ff00a0;
    --fc-secondary: #ff124f;
    --fc-white: #fff;
    --fc-black: #000;

    --fs-title:'Luckiest Guy';
    --fs-body: 'Kanit', sans-serif;
}

html {
    scroll-behavior: smooth;
}


header {
    background-color: var(--bg-secondary);
    box-shadow: 0px 3px 10px #464646;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 4rem;
    margin-right: 1.5rem;
}

.logo h1 {
    color: var(--ff-pink);
    font-size: 3rem;
    font-family: var(--fs-title);
    letter-spacing: .05cm;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 2rem;
    color: var(--fc-white);
    font-weight: 400;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

main {
    background: var(--bg-primary);
    padding: 3rem 8rem;
}

.home, .about{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
    border-bottom: 1px solid var(--ff-pink);
    margin-bottom: 5rem;
}

.home h1{
    font-size: 4rem;
    font-weight: bold;
    color: var(--fc-white);
}

.home span{
    font-size: 5rem;
    color: var(--ff-pink);
    font-weight: bold;  
    font-family: var(--fs-title);
    letter-spacing: .05cm;
}

.home p, .about p{
    font-size: 3rem;
    color: var(--fc-white);
}

.home img{
    height: 45rem;
    margin-bottom: 5rem;
}

#about1 {
    height: 7rem;
}

.about {
    border-bottom: 1px solid var(--ff-pink);
    margin-bottom: 5rem;
    height: 55rem;
}

.about img{
    height: 45rem;
    margin-right: 5rem;
    box-shadow: 2rem 2rem 5rem rgba(0,0,0,0.5);
    border-radius: 50%;
}

.about h1{
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--ff-pink);
    font-family: var(--fs-title);
    letter-spacing: .05cm;
}

#projects1 {
    height: 9rem;
}

.projects h1, .skills h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: var(--ff-pink);
    margin-bottom: 3rem;
    font-family: var(--fs-title);
    letter-spacing: .05cm;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    border-bottom: 1px solid var(--ff-pink);
    margin-bottom: 5rem;
    padding-bottom: 5rem;
}
.container .card{
    position: relative;
    width: 28rem;
    height: 40rem;
    margin: 3rem;
    box-shadow: 2rem 2rem 5rem rgba(0,0,0,0.5);
    border-radius: 1.5rem;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.container .card .content {
    padding: 2rem;
    text-align: center;
    transform: translateY(10rem);
    opacity: 0;
    transition: .5s;
}

.container .card:hover .content{
    transform: translateY(0);
    opacity: 1;
}

.container .card .content h2{
    position: absolute;
    top: -3rem;
    right: 3rem;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card .content h3{
    font-size: 4rem;
    color: var(--ff-pink);
    z-index: 1;
}

.container .card .content p{
    font-size: 2rem;
    color: var(--fc-white);
    font-weight: 300;
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: .8rem 2rem;
    margin-top: 3rem;
    background-color: var(--ff-pink);
    color: var(--fc-white);
    text-decoration: none;
    border-radius: 2rem;
    font-weight: 500;
    font-size: 1.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.2);
}

#skills1 {
    height: 7rem;
}

.skills h1 {
    margin-bottom: 8rem;
}

.skill {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}

.skill-page {
    display: flex;

}

.skill-page dt {
    font-style: var(--fs-body);
    font-size: 3rem;
    color: var(--fc-white);
    transition: .5s;
}

.skill-page dt:hover {
    color: var(--ff-pink);
}

.skill-page img {
    height: 8rem;
    margin-right: 2rem;
    transition: .8s;
}

.skill-page img:hover{
    transform: rotateY(360deg);
    
}


.progress-bar {
    margin-top: 1rem;
    height: 3rem;
    border: .3rem solid var(--fc-white);
    transition: .5s;
}

.progress-bar:hover {
    border: .3rem solid var(--ff-pink);
}

.progress-bar::-webkit-progress-bar {
    background-color: var(--bg-primary);
}


.linkedin img{
    height: 5rem;
    position: fixed;
    bottom: 1.5rem;
    left: .5rem;
    z-index: 999;
    transition: 0.5s;
}

.github img{
    height: 5rem;
    position: fixed;
    bottom: 8rem;
    left: .5rem;
    z-index: 999;
    transition: 0.5s;
}

.github img:hover, .linkedin img:hover {
    transform: rotateZ(360deg);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -32px;
}

@media screen and (max-width: 900px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        border: none;      
    }

    .mobile-menu{
        background: linear-gradient(to top, #120458, #7a04eb);
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }

    .home, .about{
        display: list-item;
        text-align: center;

    }

    main{
        padding: 3rem;
        align-items: center;
        margin: 0 auto;
    }

    .home {
        height: 50rem;
    }

    .home h1 {
        margin-top: 8rem;
        font-size: 3rem;
        font-weight: bold;
    }
    
    .home span{
        font-size: 4rem;
        color: var(--ff-pink);
        font-weight: bold;  
        margin-bottom: 20rem;
    }
    
    .home p, .about p{
        font-size: 2.5rem;
        margin-bottom: 5rem;
    }

    .home img, .about img{
        height: 25rem;
        margin: 0 auto;
    }

    .about {
        height: 66rem;
    }

    .about p {
        padding: 1rem;
    }
    
    .github img {
        height: 3rem;
        bottom: 1.5rem;
        left: .5rem;
    }

    .linkedin img {
        height: 3rem;
        bottom: 5rem;
        left: .5rem;
    }
}